[submodule "HOME/.emacs.d"]
	path = home/HOME/.emacs.d
	url = https://gitlab.com/peterzuger/emacsd
[submodule "HOME/.ssh-connect"]
	path = home/HOME/.ssh-connect
	url = https://github.com/gko/ssh-connect
[submodule "HOME/.liquidprompt"]
	path = home/HOME/.liquidprompt
	url = https://github.com/nojhan/liquidprompt
[submodule "HOME/.urxvt/modules/font-size"]
	path = home/HOME/.urxvt/modules/font-size
	url = https://github.com/majutsushi/urxvt-font-size
