[Unit]
Description=udiskie

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/udiskie --no-file-manager
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
