[Unit]
Description=picom

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/picom
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
