[Unit]
Description=Lock the screen automatically after a timeout

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -detectsleep -corners 0-00 -time 5 -locker "i3lock -k -B=0 --insidevercolor=808080FF --insidewrongcolor=FF0000FF --insidecolor=40404080 --ringvercolor=7F9F7FFF --ringwrongcolor=FF0000FF --ringcolor=7F9F7FFF --linecolor=000000FF --keyhlcolor=000000FF --bshlcolor=000000FF --separatorcolor=000000FF --verifcolor=F6F3E8FF --wrongcolor=FF0000FF --timecolor=F6F3E8FF --datecolor=F6F3E8FF --indicator --radius=100"
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical.target
