[Unit]
Description=Lock the screen automatically after a timeout

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/xautolock -detectsleep -corners 0-00 -time 5 -locker %h/.config/i3lock/locker.sh
Restart=on-failure
RestartSec=60

[Install]
WantedBy=default.target
